@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Fira Sans', sans-serif;
}

html, body{
    height: 100%;
    margin:0;
    padding:0;
    position: relative;
}

//css for spinner
.spinner-page {
    width:30px;
    height:30px;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#72B046);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: s3 1s infinite linear;
  }
  @keyframes s3 {to{transform: rotate(1turn)}}

.height{
    height:24rem;
}

.pie{
    height:24rem;
}

@media screen and (max-width: 767px){
    .height{
        height:18rem;
    }
    .pie{
        height:auto;
    }
  }